@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 400px) {
  .background-gradient::before {
    background: radial-gradient(
      circle at 50% 50%,
      rgba(255, 86, 91, 0.6) 0%,
      rgba(122, 250, 161, 0.6) 40%,
      rgba(71, 127, 247, 0.6) 80%,
      rgba(37, 38, 44, 0) 100%
    );
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
}
